body
{
  margin: 0;
  padding: 0;
  height: 2000px;
}

.container
{
    width: 1150px;
    margin: auto;
}

.header
{
    width: 100%;
    height: 350px;
    background-color: blueviolet;
  
}

.header .heading
{
    width: 50%;
    float: left;
    margin-top: 100px;
    border-right: 2px solid darkgray;
}

.header .heading h2
{
    width: 49%;
	color:#fff;
	line-height: 1.8;
	font-size: 25px;
}

.header .heading h2 span:hover
{
    color: #00BCBA;
    cursor: pointer;
}

.Lorem
{
    width: 40%;
    margin-top: 100px;
    margin-left: 3%;
    float: left;
}

.Lorem p
{
    font-family: Tahoma;
    color:darkgray;
    line-height: 1.8;
    font-weight: bold;
}

.Lorem button
{
    border: 0;
    background:none;
    background: #00BCBA;
    color: white;
    font-size: 20px;
    padding: 15px;
    border-radius: 50px;
    width: 200px;
    text-transform: uppercase;
    outline: 0;
    cursor: pointer;
}

.Magna
{
    width: 100%;
    height: 350px;
    border-bottom: 2px solid#ddd;
    padding-top: 50px;
}

.Magna .learn
{
    width: 50%;
    float: left;
    border-right: 2px solid darkgray ;
}

.Magna .learn h2
{
    font-family: tahoma;
    color: #777;
    text-decoration: underline;
}

.Magna .learn p
{
    line-height: 1.9;
    font-family: tahoma;
    color: #8888;
}

.Magna .learn button
{
    border: 0;
    background: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 30px;
    width: 200px;
    outline: 0;
    color: #888;
    text-transform: uppercase;
    cursor: pointer;

}

.Ipsum
{
    float: left;
    width: 40%;
     margin-left: 5%;
     visibility: hidden;
}

.Ipsum p 
{
    line-height: 2;
    font-weight: bold;
    font-family: tahoma;
    color: #666;
}

.Ipsum i 
{
    padding-right: 25px;
    color: #00BCBA;
}
.Pharetra
{
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
    background-color: #f2f2f2;
}

.Pharetra img
{
    float: left;
    width: 40%;
}

.Pharetra .he
{
    float: left;
    width: 40%;
    padding-top: 50px;
    padding-left: 70px;
}

.Pharetra .he h2
{
    font-family: tahoma;
    color: #777;
    text-decoration: underline;
}

.Pharetra .he p
{
    color: #888;
    font-family: tahoma;
    line-height: 2;
    font-weight: bold;

}

.Pharetra .he button
{
    border: 1px solid #ddd;
     
    width: 150px;
    border-radius: 20px;
    padding: 15px;
    font-size: 20px;
    color: #777;
    text-transform: uppercase;
    outline: 0;
    cursor: pointer;
}

.Pharetra .he button:hover
{
    color: white;
    background-color: #888;
}

.clear
{clear: both;}

.Pharetra .Part 
{
    height: 350px;
    padding-bottom: 50px;
}

.form
{
    width: 100%;
    overflow: hidden;
    height: 450px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.form .input
{
    width: 50%;
    float: left;
    border-right: 2px solid #ddd;
}

.form .input h2{
    font-family: tahoma ;
    text-decoration: underline;
    color: #777;
}

.form .input p 
{
    font-family: tahoma;
    font-weight: bold;
    color: #888;
    line-height: 2;
}
.form .input input[type =text]
{
    width: 250px;
    height: 50px;
    padding-left: 20px;
    margin-bottom: 10px;
    font-size: 20px;
     
}

.form .input textarea
{
    width: 505px;
    margin-bottom: 15px;
    outline: 0;
    padding-left: 20px;
    font-size: 15px;
}

.form .input input[type =submit]
{
    width: 150px;
    border-radius: 20px;
    border: 1px solid#ddd;
    padding: 15px;
    cursor: pointer;
    background: #fff;
    text-transform: uppercase;
    color: #777;
    
}

.form .linkes
{
    padding-top: 50px;
    float: left;
    padding-left: 50px;

}

.form .linkes p
{
    line-height: 2.5;
    font-weight:bold;
    font-family: tahoma;
    color: #666;
}

.form .linkes i 
{
    padding-right: 15px;
    color: #00BCBA;
    font-size: 25px;
}

.footer
{
    width: 100%;
    height: 150px;
    border-top: 1px solid #ddd;
}

.footer p
{
    text-align: center;
    line-height: 150px;
    font-family: tahoma;
    color: #777;

}